:root {
    --font-light: font-light;
    --font-normal: font-normal;
    --font-bold: font-bold;
    --font-title: font-title;
    --font-medium: font-medium;
    --mg-title-font: var(--font-title);
    --mg-title-size: 34px;
    --mg-title-size-mobile: 20px;
    --mg-title-align: left;
    --mg-title-line-height: 1.5;
    --mg-title-line-height-mobile: 1.5;
    --mg-title-letter-spacing: 0;
    --mg-title-letter-spacing-mobile: 0;
    --mg-sub-title-font: var(--font-medium);
    --mg-sub-title-size: 16px;
    --mg-sub-title-size-mobile: 14px;
    --mg-sub-title-align: left;
    --mg-sub-title-line-height: 1.5;
    --mg-sub-title-line-height-mobile: 1.5;
    --mg-button-font: var(--font-normal);
    --color-success: #20c472;
    --color-success-light-9: rgba(112, 235, 173, 0.287);
    --color-error: #f0454c;
    --color-error-light-9: rgba(240, 69, 76, 0.287);
    --color-warning: #f0ad4e;
    --color-warning-light-9: rgba(240, 173, 76, 0.287);
    --color-link: #4c84ff;
    --color-title: #191919;
    --color-text: #505050;
    --color-label: #505050;
    --color-info: #505050;
    --color-info-light-9: rgba(80, 80, 80, 0.287);
    --color-disable: #a8a8a8;
    --color-holder: #c6c8d1;
    --mg-title-color: var(--color-title);
    --mg-button-color: var(--g-btn-color);
    --mg-button-background: var(--g-btn-background);
    --color-theme: var(--g-btn-background);
    --color-theme-light-9: rgba(99, 58, 41, 0.287);
    --color-hover: #5c3727;
    --color-border: #c6c8d1;
    --color-border-light: rgba(119, 83, 48, 0.807);
    --g-primary-color: #191919;
    --g-text-color: #505050;
    --g-tip-color: #a8a8a8;
    --g-btn-color: #fff;
    --g-btn-background: #633a29;
    --g-bg-color: #fff;
    --menu-hover-color: #b16a4c;  
    --menu-hover-bg: rgba(99, 58, 41, 0.2);    
    --menu-bg-color: rgba(50, 35, 27, 1);    
    --dropdown-menu-bg: #fdf6ec;
}
@font-face {
    font-family: 'font-light';
    font-display: block;
    src: url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/300.woff2')
            format('woff2'),
        url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/300.ttf')
            format('truetype');
}
@font-face {
    font-family: 'font-normal';
    font-display: block;
    src: url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/400.woff2')
            format('woff2'),
        url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/400.ttf')
            format('truetype');
}
@font-face {
    font-family: 'font-medium';
    font-display: block;
    src: url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/500.woff2')
            format('woff2'),
        url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/500.ttf')
            format('truetype');
}
@font-face {
    font-family: 'font-title';
    font-display: block;
    src: url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/400.woff2')
            format('woff2'),
        url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/400.ttf')
            format('truetype');
}
@font-face {
    font-family: 'font-bold';
    font-display: block;
    src: url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/700.woff2')
            format('woff2'),
        url('//static.chimeroi.com/servicetool-temp/fonts/Montserrat/700.ttf')
            format('truetype');
}
